AegosPy==0.6
anyio==3.7.1
arabic-reshaper==3.0.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
Faker==24.1.0
getmac==0.9.4
gTTS==2.3.2
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
mechanize==0.4.8
N4Tools==1.7.1
OneClick==3.0.1
proxy==0.0.1
pycurl==7.45.2
pyfiglet==0.8.post1
Pygments==2.15.1
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-nmap==0.7.1
requests==2.31.0
rich==13.4.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
stdiomask==0.0.6
termcolor==2.4.0
urllib3==2.0.4
user_agent==0.1.10
webencodings==0.5.1
websocket-client==1.1.0
